<table>
  <% if (ClientType === "loyal") { %> <% if (TotalPrice < 3000) { %>
  <tr>
    <td>1.</td>
    <td>
      Completion of 1st submittal to the client: 100% of fee: $<%= TotalPrice %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 3000 && TotalPrice < 15000) { %>
  <tr>
    <td>1.</td>
    <td>
      Completion of 1st submittal to the client: 75% of fee: $<%= TotalPrice *
      0.75 %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      At the time the <b>1st plan check is completed</b> <u>or</u> 60 days after
      the first submittal, whichever comes first. 25% of fee: $<%= TotalPrice *
      0.25 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 15000 && TotalPrice < 25000) { %>
  <tr>
    <td>1.</td>
    <td>
      Completion of 50% CD's to the client: 25% of fee: $<%= TotalPrice * 0.25
      %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Completion of 1st submittal to the client: 50% of fee: $<%= TotalPrice *
      0.5 %>
    </td>
  </tr>
  <tr>
    <td>3.</td>
    <td>
      At the time the <b>1st plan check is completed</b> <u>or</u> 60 days after
      the first submittal, whichever comes first. 25% of fee: $<%= TotalPrice *
      0.25 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 25000) { %>
  <tr>
    <td>1.</td>
    <td>
      Client agrees to pay monthly progress invoices pertaining to the lump sum
      in this agreement.
    </td>
  </tr>
  <% } %> <% } %> <% if (ClientType === "returning") { %> <% if (TotalPrice <
  1000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      100% of fee: $<%= TotalPrice %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 1000 && TotalPrice < 3000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      50% of fee: $<%= TotalPrice * 0.5 %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Completion of 1st submittal to the client: 50% of fee: $<%= TotalPrice *
      0.5 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 3000 && TotalPrice < 10000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      25% of fee: $<%= TotalPrice * 0.25 %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Completion of 1st submittal to the client: 50% of fee: $<%= TotalPrice *
      0.5 %>
    </td>
  </tr>
  <tr>
    <td>3.</td>
    <td>
      At the time the <b>1st plan check is completed</b> <u>or</u> 60 days after
      the first submittal, whichever comes first. 25% of fee: $<%= TotalPrice *
      0.25 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 10000 && TotalPrice < 25000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      25% of fee: $<%= TotalPrice * 0.25 %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Due upon completion of 50% of construction documents: 25% of fee: $<%=
      TotalPrice * 0.25 %>
    </td>
  </tr>
  <tr>
    <td>3.</td>
    <td>
      Completion of 1st submittal to the client: 25% of fee: $<%= TotalPrice *
      0.25 %>
    </td>
  </tr>
  <tr>
    <td>4.</td>
    <td>
      At the time the <b>1st plan check is completed</b> <u>or</u> 60 days after
      the first submittal, whichever comes first. 15% of fee: $<%= TotalPrice *
      0.15 %>
    </td>
  </tr>
  <tr>
    <td>5.</td>
    <td>
      At the time the <b>2st plan check is completed</b> <u>or</u> 90 days after
      the first submittal, whichever comes first. 10% of fee: $<%= TotalPrice *
      0.1 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 25000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      <%= RetainerPercent %>% of fee: $<%= TotalPrice * RetainerPercent %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Client agrees to pay monthly progress invoices pertaining to the lump sum
      in this agreement.
    </td>
  </tr>
  <% } %> <% } %> <% if (ClientType === "new") { %> <% if (TotalPrice < 2000) {
  %>
  <tr>
    <td>1.</td>
    <td>
      Due upon signing contract, paid prior to proceeding with the work: 100% of
      fee: $<%= TotalPrice %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 2000 && TotalPrice < 10000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      50% of fee: $<%= TotalPrice * 0.5 %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Due prior to sending out 1st submittal to the client: 50% of fee: $<%=
      TotalPrice * 0.5 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 10000 && TotalPrice < 25000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      25% of fee: $<%= TotalPrice * 0.25 %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Due upon completion of 50% of construction documents: 25% of fee: $<%=
      TotalPrice * 0.25 %>
    </td>
  </tr>
  <tr>
    <td>3.</td>
    <td>
      Completion of 1st submittal to the client: 25% of fee: $<%= TotalPrice *
      0.25 %>
    </td>
  </tr>
  <tr>
    <td>4.</td>
    <td>
      At the time the <b>1st plan check is completed</b> <u>or</u> 60 days after
      the first submittal, whichever comes first. 15% of fee: $<%= TotalPrice *
      0.15 %>
    </td>
  </tr>
  <tr>
    <td>5.</td>
    <td>
      At the time the <b>2st plan check is completed</b> <u>or</u> 90 days after
      the first submittal, whichever comes first. 10% of fee: $<%= TotalPrice *
      0.1 %>
    </td>
  </tr>
  <% } %> <% if (TotalPrice >= 25000) { %>
  <tr>
    <td>1.</td>
    <td>
      Deposit due upon signing contract, paid prior to proceeding with the work:
      <%= RetainerPercent %>% of fee: $<%= TotalPrice * RetainerPercent %>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>
      Client agrees to pay monthly progress invoices pertaining to the lump sum
      in this agreement.
    </td>
  </tr>
  <% } %> <% } %>
</table>
